@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">What's For Dinner?</h1>
        <img src="~/css/Images/home.jpg" width="1000" alt="Home" class="responsive"/>
        
    </div>
